@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility font-praise{
    font-family: 'Praise', --font-sans, monospace;
}
@utility font-cal-sans {
    font-family: 'Cal Sans', --font-sans, monospace;
}
@utility font-outfit{
    font-family: 'Outfit', --font-sans, monospace;
}
@utility font-system{
    font-family: 'system-ui', --font-sans, monospace;
}
@utility svg{
    shape-rendering:geometricPrecision;
    text-rendering:geometricPrecision;
    fill-rule:evenodd;
    clip-rule:evenodd;
}
@theme{
    --animate-popup: popUp 4s ease-in-out forwards;
    @keyframes popUp {
        7.5%{
            top: 14.5%;
        }
        12%{
            top: 12%;
        }
        75%{
            top: 12%;
        }
        80%{
            top: 14.5%;
        }
        100%{
            top: -100vh;
        }
    }
}
